.home4{
    background-color: #EAEDED;
}
.row4{
    display: flex;
    z-index: 1;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
}